extends layout

block content
  form(method='post', action='/create')
    if post
      if !success
        p.error=error
      else
        p Notandi búinn til!


    .form-horizontal.col-md-8
        .form-group.has-feedback
            label.control-label.col-md-2(for="username") Notandanafn:
            .col-md-8
                input.form-control(type='text', placeholder='Jón Sigurðsson', id="username", name="username", value=username.val)
                i.glyphicon.glyphicon-user.form-control-feedback
                if (!username.valid)
                    p.error Villa með notandanafn!
        .form-group.has-feedback
            label.control-label.col-md-2(for="password") Lykilorð:
            .col-md-8
                input.form-control(type='password', placeholder='*****', id="password", name="password",value=email.val)
                i.glyphicon.glyphicon-lock.form-control-feedback
                if (!username.valid)
                    p.error Villa með notandanafn!                    
          .form-group.has-feedback
            label.control-label.col-md-2(for="password2") Staðfesta lykilorð:
            .col-md-8
                input.form-control(type='password', placeholder='*****', id="password2", name="password2")
                i.glyphicon.glyphicon-alert.form-control-feedback
        .form-group.has-feedback
            label.control-label.col-md-2(for="phone") Sími:
            .col-md-8
                input.form-control(type='phone', placeholder='5812345', id="phone", name="phone", value=phone.val)
                i.glyphicon.glyphicon-earphone.form-control-feedback
                if (!phone.valid)
                    p.error Villa með símanúmer! 
         .form-group.has-feedback
            label.control-label.col-md-2(for="email") Netfang:
            .col-md-8
                input.form-control(type='email', placeholder='samfo@samfo.is', id="email", name="email", value=email.val)
                i.glyphicon.glyphicon-envelope.form-control-feedback
                if (!email.valid)
                    p.error Villa með notandanafn! 



        .col-md-2
        .col-md-8
            button.btn.btn-default.pull-right Create user
        .col-md-2
block navbar
    ul.nav.navbar-nav.navbar-right
        li.active
            a(href='/create') Nýskrá
        li
            a(href='/about') Um okkur
