extends indexlayout

block content

    if user
        p.hidden Skr치칧/ur inn sem
        p.hidden.user #{user.username}
    section#search.collapse
        h3 Veldu lei칧
        form.form-inline
            .form-group
                label(for='leitFra') Fr치:
                select.form-control(name='from' id = "leitFra")
                    option(value='Veldu') Allt
                    option(value='Reykjav칤k') Reykjav칤k
                    option(value='Akranes') Akranes
                    option(value='Akureyri') Akureyri
                    option(value='츼rsk칩gsstr칬nd/Hr칤sey') 츼rsk칩gsstr칬nd/Hr칤sey
                    option(value='Bakkafj칬r칧ur') Bakkafj칬r칧ur
                    option(value='B칤ldudalur') B칤ldudalur
                    option(value='B칰칧ardalur') B칰칧ardalur
                    option(value='Bifr칬st') Bifr칬st
                    option(value='Bl칬ndu칩s') Bl칬ndu칩s
                    option(value='Bolungarv칤k') Bolungarv칤k
                    option(value='Borgarfj칬r칧ur') Borgarfj칬r칧ur
                    option(value='Borgarnes') Borgarnes
                    option(value='Brei칧dalsv칤k') Brei칧dalsv칤k
                    option(value='Dalv칤k') Dalv칤k
                    option(value='Dj칰pivogur') Dj칰pivogur
                    option(value='Drangsnes') Drangsnes
                    option(value='Egilssta칧ir') Egilssta칧ir
                    option(value='Eskifj칬r칧ur') Eskifj칬r칧ur
                    option(value='Eyrarbakki') Eyrarbakki
                    option(value='F치skr칰칧sfj칬r칧ur') F치skr칰칧sfj칬r칧ur
                    option(value='Flateyri') Flateyri
                    option(value='Fl칰칧ir') Fl칰칧ir
                    option(value='Gar칧ab칝r') Gar칧ab칝r
                    option(value='Gar칧ur') Gar칧ur
                    option(value='Greniv칤k') Greniv칤k
                    option(value='Grindav칤k') Grindav칤k
                    option(value='Grundarfj칬r칧ur') Grundarfj칬r칧ur
                    option(value='Hafnarfj칬r칧ur') Hafnarfj칬r칧ur
                    option(value='H칩lar 칤 Hjaltadal') H칩lar 칤 Hjaltadal
                    option(value='H칩lmav칤k') H칩lmav칤k
                    option(value='H칬fn') H칬fn
                    option(value='H칰sav칤k') H칰sav칤k
                    option(value='Heitar laugar 치 칈slandi') Heitar laugar 치 칈slandi
                    option(value='Hella') Hella
                    option(value='Hellissandur') Hellissandur
                    option(value='Hofs칩s') Hofs칩s
                    option(value='Hvammstangi') Hvammstangi
                    option(value='Hvanneyri') Hvanneyri
                    option(value='Hverager칧i') Hverager칧i
                    option(value='Hvolsv칬llur') Hvolsv칬llur
                    option(value='칈safj칬r칧ur') 칈safj칬r칧ur
                    option(value='K치rahnj칰kar') K치rahnj칰kar
                    option(value='K칩pasker') K칩pasker
                    option(value='K칩pavogur') K칩pavogur
                    option(value='Keflav칤k') Keflav칤k
                    option(value='Keflav칤k (Airport)') Keflav칤k (Airport)
                    option(value='Keilissv칝칧i칧') Keilissv칝칧i칧
                    option(value='Kirkjub칝jarklaustur') Kirkjub칝jarklaustur
                    option(value='Landeyjah칬fn') Landeyjah칬fn
                    option(value='Landmannalaugar') Landmannalaugar
                    option(value='Laugar') Laugar
                    option(value='Laugarvatn') Laugarvatn
                    option(value='M칳vatn') M칳vatn
                    option(value='Mj칩ifj칬r칧ur') Mj칩ifj칬r칧ur
                    option(value='Mosfellsb칝r') Mosfellsb칝r
                    option(value='Neskaupsta칧ur') Neskaupsta칧ur
                    option(value='칍lafsfj칬r칧ur') 칍lafsfj칬r칧ur
                    option(value='칍lafsv칤k') 칍lafsv칤k
                    option(value='Patreksfj칬r칧ur') Patreksfj칬r칧ur
                    option(value='Raufarh칬fn') Raufarh칬fn
                    option(value='Rey칧arfj칬r칧ur') Rey칧arfj칬r칧ur
                    option(value='Reykh칩lar') Reykh칩lar
                    option(value='Reykholt') Reykholt
                    option(value='Reykjanesb칝r') Reykjanesb칝r
                    option(value='Sandger칧i') Sandger칧i
                    option(value='Sau칧치rkr칩kur') Sau칧치rkr칩kur
                    option(value='S칰칧av칤k') S칰칧av칤k
                    option(value='Selfoss') Selfoss
                    option(value='Sey칧isfj칬r칧ur') Sey칧isfj칬r칧ur
                    option(value='Siglufj칬r칧ur') Siglufj칬r칧ur
                    option(value='Skagastr칬nd') Skagastr칬nd
                    option(value='Sta칧ur') Sta칧ur
                    option(value='St칬칧varfj칬r칧ur') St칬칧varfj칬r칧ur
                    option(value='Stokkseyri') Stokkseyri
                    option(value='Stykkish칩lmur') Stykkish칩lmur
                    option(value='Su칧ureyri') Su칧ureyri
                    option(value='T치lknafj칬r칧ur') T치lknafj칬r칧ur
                    option(value='Varmahl칤칧') Varmahl칤칧
                    option(value='V칤k') V칤k
                    option(value='Vestmannaeyjar') Vestmannaeyjar
                    option(value='Vogar') Vogar
                    option(value='Vopnafj칬r칧ur') Vopnafj칬r칧ur
                    option(value='뤢rsh칬fn') 뤢rsh칬fn
                    option(value='룔ngeyri') 룔ngeyri
                    option(value='룚rl치ksh칬fn') 룚rl치ksh칬fn
                    option(value='칐gur 칤 칈safjar칧ardj칰pi') 칐gur 칤 칈safjar칧ardj칰pi
                label(for='leitTil') Til:
                select.form-control(id= "leitTil")
                    option(value='Veldu') Allt
                    option(value='Reykjav칤k') Reykjav칤k
                    option(value='Akranes') Akranes
                    option(value='Akureyri') Akureyri
                    option(value='츼rsk칩gsstr칬nd/Hr칤sey') 츼rsk칩gsstr칬nd/Hr칤sey
                    option(value='Bakkafj칬r칧ur') Bakkafj칬r칧ur
                    option(value='B칤ldudalur') B칤ldudalur
                    option(value='B칰칧ardalur') B칰칧ardalur
                    option(value='Bifr칬st') Bifr칬st
                    option(value='Bl칬ndu칩s') Bl칬ndu칩s
                    option(value='Bolungarv칤k') Bolungarv칤k
                    option(value='Borgarfj칬r칧ur') Borgarfj칬r칧ur
                    option(value='Borgarnes') Borgarnes
                    option(value='Brei칧dalsv칤k') Brei칧dalsv칤k
                    option(value='Dalv칤k') Dalv칤k
                    option(value='Dj칰pivogur') Dj칰pivogur
                    option(value='Drangsnes') Drangsnes
                    option(value='Egilssta칧ir') Egilssta칧ir
                    option(value='Eskifj칬r칧ur') Eskifj칬r칧ur
                    option(value='Eyrarbakki') Eyrarbakki
                    option(value='F치skr칰칧sfj칬r칧ur') F치skr칰칧sfj칬r칧ur
                    option(value='Flateyri') Flateyri
                    option(value='Fl칰칧ir') Fl칰칧ir
                    option(value='Gar칧ab칝r') Gar칧ab칝r
                    option(value='Gar칧ur') Gar칧ur
                    option(value='Greniv칤k') Greniv칤k
                    option(value='Grindav칤k') Grindav칤k
                    option(value='Grundarfj칬r칧ur') Grundarfj칬r칧ur
                    option(value='Hafnarfj칬r칧ur') Hafnarfj칬r칧ur
                    option(value='H칩lar 칤 Hjaltadal') H칩lar 칤 Hjaltadal
                    option(value='H칩lmav칤k') H칩lmav칤k
                    option(value='H칬fn') H칬fn
                    option(value='H칰sav칤k') H칰sav칤k
                    option(value='Heitar laugar 치 칈slandi') Heitar laugar 치 칈slandi
                    option(value='Hella') Hella
                    option(value='Hellissandur') Hellissandur
                    option(value='Hofs칩s') Hofs칩s
                    option(value='Hvammstangi') Hvammstangi
                    option(value='Hvanneyri') Hvanneyri
                    option(value='Hverager칧i') Hverager칧i
                    option(value='Hvolsv칬llur') Hvolsv칬llur
                    option(value='칈safj칬r칧ur') 칈safj칬r칧ur
                    option(value='K치rahnj칰kar') K치rahnj칰kar
                    option(value='K칩pasker') K칩pasker
                    option(value='K칩pavogur') K칩pavogur
                    option(value='Keflav칤k') Keflav칤k
                    option(value='Keflav칤k (Airport)') Keflav칤k (Airport)
                    option(value='Keilissv칝칧i칧') Keilissv칝칧i칧
                    option(value='Kirkjub칝jarklaustur') Kirkjub칝jarklaustur
                    option(value='Landeyjah칬fn') Landeyjah칬fn
                    option(value='Landmannalaugar') Landmannalaugar
                    option(value='Laugar') Laugar
                    option(value='Laugarvatn') Laugarvatn
                    option(value='M칳vatn') M칳vatn
                    option(value='Mj칩ifj칬r칧ur') Mj칩ifj칬r칧ur
                    option(value='Mosfellsb칝r') Mosfellsb칝r
                    option(value='Neskaupsta칧ur') Neskaupsta칧ur
                    option(value='칍lafsfj칬r칧ur') 칍lafsfj칬r칧ur
                    option(value='칍lafsv칤k') 칍lafsv칤k
                    option(value='Patreksfj칬r칧ur') Patreksfj칬r칧ur
                    option(value='Raufarh칬fn') Raufarh칬fn
                    option(value='Rey칧arfj칬r칧ur') Rey칧arfj칬r칧ur
                    option(value='Reykh칩lar') Reykh칩lar
                    option(value='Reykholt') Reykholt
                    option(value='Reykjanesb칝r') Reykjanesb칝r
                    option(value='Sandger칧i') Sandger칧i
                    option(value='Sau칧치rkr칩kur') Sau칧치rkr칩kur
                    option(value='S칰칧av칤k') S칰칧av칤k
                    option(value='Selfoss') Selfoss
                    option(value='Sey칧isfj칬r칧ur') Sey칧isfj칬r칧ur
                    option(value='Siglufj칬r칧ur') Siglufj칬r칧ur
                    option(value='Skagastr칬nd') Skagastr칬nd
                    option(value='Sta칧ur') Sta칧ur
                    option(value='St칬칧varfj칬r칧ur') St칬칧varfj칬r칧ur
                    option(value='Stokkseyri') Stokkseyri
                    option(value='Stykkish칩lmur') Stykkish칩lmur
                    option(value='Su칧ureyri') Su칧ureyri
                    option(value='T치lknafj칬r칧ur') T치lknafj칬r칧ur
                    option(value='Varmahl칤칧') Varmahl칤칧
                    option(value='V칤k') V칤k
                    option(value='Vestmannaeyjar') Vestmannaeyjar
                    option(value='Vogar') Vogar
                    option(value='Vopnafj칬r칧ur') Vopnafj칬r칧ur
                    option(value='뤢rsh칬fn') 뤢rsh칬fn
                    option(value='룔ngeyri') 룔ngeyri
                    option(value='룚rl치ksh칬fn') 룚rl치ksh칬fn
                    option(value='칐gur 칤 칈safjar칧ardj칰pi') 칐gur 칤 칈safjar칧ardj칰pi

        h3 Veldu t칤mabil
        form.form-inline(role="form")
            .form-group
                label.control-label(for='date-picker-2') Fr치:
                .input-group
                    input.date-picker.form-control(type='text', id="date-picker-2")
                    label.input-group-addon.btn(for='date-picker-2')
                        span.glyphicon.glyphicon-calendar
                label.control-label(for='date-picker-3') Til:
                .input-group
                    input.date-picker.form-control(type='text', id="date-picker-3")
                    label.input-group-addon.btn(for='date-picker-3')
                        span.glyphicon.glyphicon-calendar
        h3.grayscale A칧rir valkostir

        .form-inline.hidden-md.hidden-lg
            .form-group
                 label(for='saetaleit') S칝tafj칬ldi a.m.k:
                select.form-control(id= "saetaleit")
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                    option(value='6') 6
                    option(value='7') 7
                    option(value='8') 8
                    option(value='9') 9
                    option(value='10') 10

        .form-inline
            .form-group
                label.checkbox
                input(id="leitReyklaus", type="checkbox", value="Reyklaus")
                | Sj치 a칧eins
                span.underline reyklausa
                |  b칤la.
        .form-inline
            .form-group
                label.checkbox
                input(id="leitOskaEftirFari", type="checkbox", value="barafari")
                | Sj치 a칧eins 쮂 sem
                span.underline 칩ska
                |  eftir fari
        .form-inline
            .form-group
                label.checkbox
                input(id="leitOkumenn", type="checkbox", value="barafarthegum")
                | Sj치 a칧eins 쮂 sem
                span.underline eru 치
                |  b칤l.

                label.saetisfjoldi.hidden-sm.hidden-xs(for='saetaleit2') S칝tafj칬ldi a.m.k:
                select.form-control.hidden-sm.hidden-xs(id= "saetaleit2")
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                    option(value='6') 6
                    option(value='7') 7
                    option(value='8') 8
                    option(value='9') 9
                    option(value='10') 10




    #head.row
        .hidden-xs.col-xs-3.col-sm-2.col-md-2.col-lg-2 칍ska eftir
        .hidden-xs.col-xs-3.col-sm-3.col-md-3.col-lg-3 Fr치
        .hidden-xs.col-xs-3.col-sm-3.col-md-3.col-lg-3 Til
        .hidden-xs.col-xs-2.col-sm-2.col-md-2.col-lg-2 Dagsetning
        .hidden-xs.col-sm-1.col-md-1.col-lg-1 Brottf칬r
        .col-xs-1.col-sm-1.col-md-1.col-lg-1

    if entries
        each e in entries
            section.parent(data-toggle='collapse', data-target="##{e.entryid}", aria-expanded='false', aria-controls='search',  id ="a#{e.entryid}")
                article.herna(id="entry#{e.entryid}")
                    .row
                        .hidden-xs.searchRequest.col-sm-2.col-md-2.col-lg-2(id='#request#{e.entryid}') #{e.request}
                        span.hidden-sm.hidden-md.hidden-lg.pan.glyphicons.glyphicons-taxi 游뚯
                        .searchFrom.col-sm-3.col-md-3.col-lg-3.smallTime(id='#from#{e.entryid}') #{e.entryfrom}
                        span.hidden-sm.hidden-md.hidden-lg.glyphicon.glyphicon-arrow-right
                        .searchTo.col-sm-3.col-md-3.col-lg-3.smallTime(id='#to#{e.entryid}') #{e.entryto}
                        .hidden-xs.searchDate.col-sm-2.col-md-2.col-lg-2(id='#time#{e.entryid}') #{e.entrytime}
                        .hidden-xs.col-sm-1.col-md-1.col-lg-1(id='#klukka#{e.entryid}') #{e.entryklukka}
                        .hidden-xs.col-sm-1.col-md-1.col-lg-1

                        button.hidden-xs.pull-right.btn.btn-default.Button-colap.glyphicon.glyphicon-chevron-down.syna.hidden-xs.hidden-sm.hidden-md.hidden-lg.allbutton(class ="aa#{e.entryid}" type='button', data-toggle='collapse', data-target="##{e.entryid}", aria-expanded='false', aria-controls='search',  id ="aa#{e.entryid}" )
                    .row

                        .hidden-sm.hidden-md.hidden-lg.smallDate #{e.entryklukka}
                        .col-xs-2
                        .hidden-sm.hidden-md.hidden-lg.searchDate.smallTime #{e.entrytime}




                    .row.BaraUser.hidden-xs
                        button.smallbutton.btn.btn-default.Button-colap.glyphicon.glyphicon-chevron-down.pull-right(class="aa#{e.entryid}", type='button', data-toggle='collapse', data-target="##{e.entryid}", aria-expanded='false', aria-controls='search',  id ="aa#{e.entryid}" )
                        button.smallbutton.btn.btn-warning.glyphicon.glyphicon-edit.pull-right(type='button', class="breyta" id="breyta#{e.entryid}")
                        button.smallbutton.btn.btn-danger.glyphicon.glyphicon-trash.pull-right(type='button', class = "eyda", id="eyda#{e.entryid}")
                    .AllirNemaUser.col-xs-9.hidden-sm.hidden-md.hidden-lg



                article.row.collapse(id='#{e.entryid}')
                    aside.hvitt.col-xs-9.col-sm-9.col-md-11.col-lg-11.right
                        .row
                            .searchNotandi.col-xs-12.col-sm-12.col-md-6.col-lg-6
                                | Notandi:
                                strong  #{e.entryuser}
                            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                | S칤man칰mer:
                                strong #{e.entryphone}
                            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                | Netfang:
                                strong #{e.entryemail}
                            .searchSeats.col-xs-12.col-sm-12.col-md-6.col-lg-6
                                | S칝ti:
                                strong(id='#seats#{e.entryid}') #{e.entryseats}
                            .searchSmoke.col-xs-12.col-sm-12.col-md-12.col-lg-12(id='#smoke#{e.entryid}')
                                strong #{e.smoking}
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                | Anna칧:
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12(id='#fleira#{e.entryid}')
                                | #{e.entryfleira}

    a(href='/createride').btn.btn-primary.pull-right Skr치 fer칧/칍ska eftir
