extends indexlayout

block content

    if user
        p.hidden Skráð/ur inn sem
        p.hidden.user #{user.username}
    section#search.collapse
        h3 Veldu leið
        form.form-inline
            .form-group
                label(for='leitFra') Frá:
                select.form-control(name='from' id = "leitFra")
                    option(value='Veldu') Allt
                    option(value='Reykjavík') Reykjavík
                    option(value='Akranes') Akranes
                    option(value='Akureyri') Akureyri
                    option(value='Árskógsströnd/Hrísey') Árskógsströnd/Hrísey
                    option(value='Bakkafjörður') Bakkafjörður
                    option(value='Bíldudalur') Bíldudalur
                    option(value='Búðardalur') Búðardalur
                    option(value='Bifröst') Bifröst
                    option(value='Blönduós') Blönduós
                    option(value='Bolungarvík') Bolungarvík
                    option(value='Borgarfjörður') Borgarfjörður
                    option(value='Borgarnes') Borgarnes
                    option(value='Breiðdalsvík') Breiðdalsvík
                    option(value='Dalvík') Dalvík
                    option(value='Djúpivogur') Djúpivogur
                    option(value='Drangsnes') Drangsnes
                    option(value='Egilsstaðir') Egilsstaðir
                    option(value='Eskifjörður') Eskifjörður
                    option(value='Eyrarbakki') Eyrarbakki
                    option(value='Fáskrúðsfjörður') Fáskrúðsfjörður
                    option(value='Flateyri') Flateyri
                    option(value='Flúðir') Flúðir
                    option(value='Garðabær') Garðabær
                    option(value='Garður') Garður
                    option(value='Grenivík') Grenivík
                    option(value='Grindavík') Grindavík
                    option(value='Grundarfjörður') Grundarfjörður
                    option(value='Hafnarfjörður') Hafnarfjörður
                    option(value='Hólar í Hjaltadal') Hólar í Hjaltadal
                    option(value='Hólmavík') Hólmavík
                    option(value='Höfn') Höfn
                    option(value='Húsavík') Húsavík
                    option(value='Heitar laugar á Íslandi') Heitar laugar á Íslandi
                    option(value='Hella') Hella
                    option(value='Hellissandur') Hellissandur
                    option(value='Hofsós') Hofsós
                    option(value='Hvammstangi') Hvammstangi
                    option(value='Hvanneyri') Hvanneyri
                    option(value='Hveragerði') Hveragerði
                    option(value='Hvolsvöllur') Hvolsvöllur
                    option(value='Ísafjörður') Ísafjörður
                    option(value='Kárahnjúkar') Kárahnjúkar
                    option(value='Kópasker') Kópasker
                    option(value='Kópavogur') Kópavogur
                    option(value='Keflavík') Keflavík
                    option(value='Keflavík (Airport)') Keflavík (Airport)
                    option(value='Keilissvæðið') Keilissvæðið
                    option(value='Kirkjubæjarklaustur') Kirkjubæjarklaustur
                    option(value='Landeyjahöfn') Landeyjahöfn
                    option(value='Landmannalaugar') Landmannalaugar
                    option(value='Laugar') Laugar
                    option(value='Laugarvatn') Laugarvatn
                    option(value='Mývatn') Mývatn
                    option(value='Mjóifjörður') Mjóifjörður
                    option(value='Mosfellsbær') Mosfellsbær
                    option(value='Neskaupstaður') Neskaupstaður
                    option(value='Ólafsfjörður') Ólafsfjörður
                    option(value='Ólafsvík') Ólafsvík
                    option(value='Patreksfjörður') Patreksfjörður
                    option(value='Raufarhöfn') Raufarhöfn
                    option(value='Reyðarfjörður') Reyðarfjörður
                    option(value='Reykhólar') Reykhólar
                    option(value='Reykholt') Reykholt
                    option(value='Reykjanesbær') Reykjanesbær
                    option(value='Sandgerði') Sandgerði
                    option(value='Sauðárkrókur') Sauðárkrókur
                    option(value='Súðavík') Súðavík
                    option(value='Selfoss') Selfoss
                    option(value='Seyðisfjörður') Seyðisfjörður
                    option(value='Siglufjörður') Siglufjörður
                    option(value='Skagaströnd') Skagaströnd
                    option(value='Staður') Staður
                    option(value='Stöðvarfjörður') Stöðvarfjörður
                    option(value='Stokkseyri') Stokkseyri
                    option(value='Stykkishólmur') Stykkishólmur
                    option(value='Suðureyri') Suðureyri
                    option(value='Tálknafjörður') Tálknafjörður
                    option(value='Varmahlíð') Varmahlíð
                    option(value='Vík') Vík
                    option(value='Vestmannaeyjar') Vestmannaeyjar
                    option(value='Vogar') Vogar
                    option(value='Vopnafjörður') Vopnafjörður
                    option(value='Þórshöfn') Þórshöfn
                    option(value='Þingeyri') Þingeyri
                    option(value='Þorlákshöfn') Þorlákshöfn
                    option(value='Ögur í Ísafjarðardjúpi') Ögur í Ísafjarðardjúpi
                label(for='leitTil') Til:
                select.form-control(id= "leitTil")
                    option(value='Veldu') Allt
                    option(value='Reykjavík') Reykjavík
                    option(value='Akranes') Akranes
                    option(value='Akureyri') Akureyri
                    option(value='Árskógsströnd/Hrísey') Árskógsströnd/Hrísey
                    option(value='Bakkafjörður') Bakkafjörður
                    option(value='Bíldudalur') Bíldudalur
                    option(value='Búðardalur') Búðardalur
                    option(value='Bifröst') Bifröst
                    option(value='Blönduós') Blönduós
                    option(value='Bolungarvík') Bolungarvík
                    option(value='Borgarfjörður') Borgarfjörður
                    option(value='Borgarnes') Borgarnes
                    option(value='Breiðdalsvík') Breiðdalsvík
                    option(value='Dalvík') Dalvík
                    option(value='Djúpivogur') Djúpivogur
                    option(value='Drangsnes') Drangsnes
                    option(value='Egilsstaðir') Egilsstaðir
                    option(value='Eskifjörður') Eskifjörður
                    option(value='Eyrarbakki') Eyrarbakki
                    option(value='Fáskrúðsfjörður') Fáskrúðsfjörður
                    option(value='Flateyri') Flateyri
                    option(value='Flúðir') Flúðir
                    option(value='Garðabær') Garðabær
                    option(value='Garður') Garður
                    option(value='Grenivík') Grenivík
                    option(value='Grindavík') Grindavík
                    option(value='Grundarfjörður') Grundarfjörður
                    option(value='Hafnarfjörður') Hafnarfjörður
                    option(value='Hólar í Hjaltadal') Hólar í Hjaltadal
                    option(value='Hólmavík') Hólmavík
                    option(value='Höfn') Höfn
                    option(value='Húsavík') Húsavík
                    option(value='Heitar laugar á Íslandi') Heitar laugar á Íslandi
                    option(value='Hella') Hella
                    option(value='Hellissandur') Hellissandur
                    option(value='Hofsós') Hofsós
                    option(value='Hvammstangi') Hvammstangi
                    option(value='Hvanneyri') Hvanneyri
                    option(value='Hveragerði') Hveragerði
                    option(value='Hvolsvöllur') Hvolsvöllur
                    option(value='Ísafjörður') Ísafjörður
                    option(value='Kárahnjúkar') Kárahnjúkar
                    option(value='Kópasker') Kópasker
                    option(value='Kópavogur') Kópavogur
                    option(value='Keflavík') Keflavík
                    option(value='Keflavík (Airport)') Keflavík (Airport)
                    option(value='Keilissvæðið') Keilissvæðið
                    option(value='Kirkjubæjarklaustur') Kirkjubæjarklaustur
                    option(value='Landeyjahöfn') Landeyjahöfn
                    option(value='Landmannalaugar') Landmannalaugar
                    option(value='Laugar') Laugar
                    option(value='Laugarvatn') Laugarvatn
                    option(value='Mývatn') Mývatn
                    option(value='Mjóifjörður') Mjóifjörður
                    option(value='Mosfellsbær') Mosfellsbær
                    option(value='Neskaupstaður') Neskaupstaður
                    option(value='Ólafsfjörður') Ólafsfjörður
                    option(value='Ólafsvík') Ólafsvík
                    option(value='Patreksfjörður') Patreksfjörður
                    option(value='Raufarhöfn') Raufarhöfn
                    option(value='Reyðarfjörður') Reyðarfjörður
                    option(value='Reykhólar') Reykhólar
                    option(value='Reykholt') Reykholt
                    option(value='Reykjanesbær') Reykjanesbær
                    option(value='Sandgerði') Sandgerði
                    option(value='Sauðárkrókur') Sauðárkrókur
                    option(value='Súðavík') Súðavík
                    option(value='Selfoss') Selfoss
                    option(value='Seyðisfjörður') Seyðisfjörður
                    option(value='Siglufjörður') Siglufjörður
                    option(value='Skagaströnd') Skagaströnd
                    option(value='Staður') Staður
                    option(value='Stöðvarfjörður') Stöðvarfjörður
                    option(value='Stokkseyri') Stokkseyri
                    option(value='Stykkishólmur') Stykkishólmur
                    option(value='Suðureyri') Suðureyri
                    option(value='Tálknafjörður') Tálknafjörður
                    option(value='Varmahlíð') Varmahlíð
                    option(value='Vík') Vík
                    option(value='Vestmannaeyjar') Vestmannaeyjar
                    option(value='Vogar') Vogar
                    option(value='Vopnafjörður') Vopnafjörður
                    option(value='Þórshöfn') Þórshöfn
                    option(value='Þingeyri') Þingeyri
                    option(value='Þorlákshöfn') Þorlákshöfn
                    option(value='Ögur í Ísafjarðardjúpi') Ögur í Ísafjarðardjúpi

        h3 Veldu tímabil
        form.form-inline(role="form")
            .form-group
                label.control-label(for='date-picker-2') Frá:
                .input-group
                    input.date-picker.form-control(type='text', id="date-picker-2")
                    label.input-group-addon.btn(for='date-picker-2')
                        span.glyphicon.glyphicon-calendar
                label.control-label(for='date-picker-3') Til:
                .input-group
                    input.date-picker.form-control(type='text', id="date-picker-3")
                    label.input-group-addon.btn(for='date-picker-3')
                        span.glyphicon.glyphicon-calendar
        h3.grayscale Aðrir valkostir

        .form-inline.hidden-md.hidden-lg
            .form-group
                 label(for='saetaleit') Sætafjöldi a.m.k:
                select.form-control(id= "saetaleit")
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                    option(value='6') 6
                    option(value='7') 7
                    option(value='8') 8
                    option(value='9') 9
                    option(value='10') 10

        .form-inline
            .form-group
                label.checkbox
                input(id="leitReyklaus", type="checkbox", value="Reyklaus")
                | Sjá aðeins 
                span.underline reyklausa
                |  bíla.
        .form-inline
            .form-group
                label.checkbox
                input(id="leitOskaEftirFari", type="checkbox", value="barafari")
                | Sjá aðeins þá sem 
                span.underline óska
                |  eftir fari
        .form-inline
            .form-group
                label.checkbox
                input(id="leitOkumenn", type="checkbox", value="barafarthegum")
                | Sjá aðeins þá sem 
                span.underline eru á
                |  bíl.

                label.saetisfjoldi.hidden-sm.hidden-xs(for='saetaleit2') Sætafjöldi a.m.k:
                select.form-control.hidden-sm.hidden-xs(id= "saetaleit2")
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                    option(value='6') 6
                    option(value='7') 7
                    option(value='8') 8
                    option(value='9') 9
                    option(value='10') 10
    #head.row
        .hidden-xs.col-sm-2.col-md-2.col-lg-2 Óska eftir
        .hidden-xs.col-sm-3.col-md-3.col-lg-3 Frá
        .hidden-xs.col-sm-3.col-md-3.col-lg-3 Til
        .hidden-xs.col-sm-2.col-md-2.col-lg-2 Dagsetning
        .hidden-xs.col-sm-1.col-md-1.col-lg-1 Brottför

    if entries
        each e in entries
            section.parent(data-toggle='collapse', data-target="##{e.entryid}", aria-expanded='false', aria-controls='search',  id ="a#{e.entryid}")
                article.herna(id="entry#{e.entryid}")
                    .row
                        .hidden-xs.searchRequest.col-sm-2.col-md-2.col-lg-2(id='#request#{e.entryid}') #{e.request}
                        .col-xs-2.hidden-sm.hidden-md.hidden-lg.pan
                            span.rideIcon.glyphicon.glyphicon-user
                            img.rideImage(href='', alt='icon')
                        .wordwrap.searchFrom.col-xs-4.col-sm-3.col-md-3.col-lg-3.smallTime(id='#from#{e.entryid}') #{e.entryfrom}
                        .hidden-sm.col-xs-1.hidden-md.hidden-lg.glyphicon.glyphicon-arrow-right
                        .wordwrap.searchTo.col-xs-5.col-sm-3.col-md-3.col-lg-3.smallTime(id='#to#{e.entryid}') #{e.entryto}
                        .hidden-xs.searchDate.col-sm-2.col-md-2.col-lg-2(id='#time#{e.entryid}') #{e.entrytime}
                        .hidden-xs.col-sm-1.col-md-1.col-lg-1(id='#klukka#{e.entryid}') #{e.entryklukka}
                        .hidden-xs.col-sm-1.col-md-1.col-lg-1

                        button.hidden-xs.pull-right.btn.btn-default.Button-colap.glyphicon.glyphicon-chevron-down.syna.hidden-xs.hidden-sm.hidden-md.hidden-lg.allbutton(class ="aa#{e.entryid}" type='button', data-toggle='collapse', data-target="##{e.entryid}", aria-expanded='false', aria-controls='search',  id ="aa#{e.entryid}" )
                    .row

                        .col-xs-4.col-xs-offset-2.hidden-sm.hidden-md.hidden-lg.smallDate #{e.entryklukka}
                        .col-xs-5.col-xs-offset-1.hidden-sm.hidden-md.hidden-lg.searchDate.smallTime #{e.entrytime}




                    .row.BaraUser.hidden-xs
                        button.smallbutton.btn.btn-default.Button-colap.glyphicon.glyphicon-chevron-down.pull-right(class="aa#{e.entryid}", type='button', data-toggle='collapse', data-target="##{e.entryid}", aria-expanded='false', aria-controls='search',  id ="aa#{e.entryid}" )
                        button.smallbutton.btn.btn-warning.glyphicon.glyphicon-edit.pull-right.changeWithId(type='button', class="breyta" id="breyta#{e.entryid}")
                        button.smallbutton.btn.btn-danger.glyphicon.glyphicon-trash.pull-right.delWithId(type='button', class = "eyda", id="eyda#{e.entryid}")
                    .AllirNemaUser.col-xs-9.hidden-sm.hidden-md.hidden-lg



                article.row.collapse(id='#{e.entryid}')
                    aside.hvitt.col-xs-9.col-sm-9.col-md-11.col-lg-11.right
                        .row
                            .searchNotandi.col-xs-12.col-sm-12.col-md-6.col-lg-6
                                | Notandi:
                                strong  #{e.entryuser}
                            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                | Símanúmer:
                                strong #{e.entryphone}
                            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                | Netfang:
                                strong #{e.entryemail}
                            .searchSeats.col-xs-12.col-sm-12.col-md-6.col-lg-6
                                | Sæti:
                                strong.fjoldiSaeta(id='#seats#{e.entryid}') #{e.entryseats}
                            .searchSmoke.col-xs-12.col-sm-12.col-md-12.col-lg-12(id='#smoke#{e.entryid}')
                                strong #{e.smoking}
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                | Annað:
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12(id='#fleira#{e.entryid}')
                                | #{e.entryfleira}
                        .row
                            .col-xs-12.hidden-sm.hidden-md.hidden-lg
                                button.smallbutton.btn.btn-warning.glyphicon.glyphicon-edit.pull-right(type='button', class="smallBreyta" id="tmpbreyta#{e.entryid}")
                                button.smallbutton.btn.btn-danger.glyphicon.glyphicon-trash.pull-right(type='button', class = "smallEyda", id="tmpeyda#{e.entryid}")


    a(href='/createride').btn.btn-primary.pull-right Skrá ferð/Óska eftir
